<div class ="cuadro">
    <p>Revista 23</p>
<button *ngIf="isCollapsed" (click)="toogleCollapse()">Abrir Numero 23</button>
<button *ngIf="!isCollapsed"(click)="toogleCollapse()">Cerrar Numero 23</button>
<br/>

<div  *ngIf="!isCollapsed">
             <br/>
<div class="datos">
    <br/>
             <br/>
     <div>
                  
<a  href="https://firebasestorage.googleapis.com/v0/b/tecnocultura-3ddee.appspot.com/o/pag45%2F45.pdf?alt=media&token=031f922f-b56b-449e-a395-108eb703934a" target= "_blank">
<img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pag23%2F23.jpg?alt=media&token=2d6e9712-18a1-4af6-8f90-1802882f39d7" id="img1"/></a>
<div class="parrafos">

    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<p><b>BREVE HISTORIA DE LA ADMINISTRACIÓN I </b> <br/> <b> ¿POR QUÉ SE ESTUDIA ADMINISTRACIÓN?</b>


 <p> <b> 
    LOS RETOS DE LAS TECNOLOGÍAS DE LA INFORMACIÓN Y LA COMUNICACIÓN EN LA EDUCACIÓN DE PERSONAS CON CAPACIDADES ESPECIALES</b> 
          
<p><a  href="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pag23%2Fparte1.pdf?alt=media&token=88bf7240-153c-4247-ad37-5a0d7a58fe5d" width="30" height="30" alt=""><img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pdf.png?alt=media&token=eb9d1145-36b3-47cf-b2cd-9edab3c95e34" width="30" height="30" alt=""></a></p>
<br>
<p> <b>UN ADECUADO CLIMA ORGANIZACIONAL, PROPICIA EL INCREMENTO EN LA PRODUCTIVIDAD LABORAL</b> 
<br/>
<p><a  href="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pag23%2Fparte2.pdf?alt=media&token=7146929b-109e-4ff8-8de4-204e7d7b4891" width="30" height="30" alt=""><img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pdf.png?alt=media&token=eb9d1145-36b3-47cf-b2cd-9edab3c95e34" width="30" height="30" alt=""></a></p>
<br>
<p> <b>BIOSORCIÓN DE METALES PESADOS </b> <br/> <b>EN MEDIO LÍQUIDO POR SPIRULINA MAXIMA (ARTHROSPIRA)</b> <br/>

<p><a  href="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pag23%2Fparte3.pdf?alt=media&token=4a892dff-cdbd-49cb-bf94-01031082c9c4" width="30" height="30" alt=""><img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pdf.png?alt=media&token=eb9d1145-36b3-47cf-b2cd-9edab3c95e34" width="30" height="30" alt=""></a></p>

       
</div>




     </div>

     </div>
</div>

</div> 
