<div class ="cuadro">
        <p>REVISTA 47</p>
    <button *ngIf="isCollapsed" (click)="toogleCollapse()">Abrir Numero 47</button>
    <button *ngIf="!isCollapsed"(click)="toogleCollapse()">Cerrar Numero 47</button>
    <br/>
    
    <div  *ngIf="!isCollapsed">
                 <br/>
    <div class="datos">
                  
                 <br/>
         <div>
                      
    <a  href="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/Numero%2048%2FArticulos%2F43%2F43.pdf?alt=media&token=5b3cb180-d34c-49b4-b3bc-1bff9998ba48" target= "_blank">
    <img src="https://firebasestorage.googleapis.com/v0/b/tecnocultura-3ddee.appspot.com/o/pag%2047%2F47.jpg?alt=media&token=f3b09fdd-4778-4791-a2d0-dd1cc93227ca" id="img1"/></a>
    <div class="parrafos">
    
    <p><b>MINERÍA DE DATOS Y APRENDIZAJE PROFUNDO</b> <br/> <b> (DEEPLEARNING) EN TWITTER CON GEPHI</b>
        <p>Leonardo M. Moreno V<br/>F. Jacob Ávila C<br/>Adolfo Meléndez R<br/>
    <p><a  href="https://firebasestorage.googleapis.com/v0/b/tecnocultura-3ddee.appspot.com/o/pag%2047%2Fpdf1.pdf?alt=media&token=ba4c0ee6-e3ce-40e4-8433-1373b73849b6" target= "_blank"><img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pdf.png?alt=media&token=eb9d1145-36b3-47cf-b2cd-9edab3c95e34" width="30" height="30" alt=""> </a></p>
            
    <p><b>HERRAMIENTAS PARA REALIZAR VIDEOCONFERENCIAS VS</b> <br/> <b>  LA COMUNICACIÓN EN TIEMPO REAL BASADA EN NAVEGADORES</b>
        <p>Leonardo M. Moreno V<br/>F. Jacob Ávila C<br/>Juan M. Stein C.<br/>
    
    <br/>
    <p><a  href="https://firebasestorage.googleapis.com/v0/b/tecnocultura-3ddee.appspot.com/o/pag%2047%2Fpdf2.pdf?alt=media&token=29ef116e-4c81-4818-9c9d-1fa7217c7a4e" target= "_blank"><img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pdf.png?alt=media&token=eb9d1145-36b3-47cf-b2cd-9edab3c95e34" width="30" height="30" alt=""> </a></p>
         
    <p> <b>LAS TÉCNICAS DE LA ADMINISTRACIÓN EN LA GESTIÓN</b> <br/> <b>DE PROYECTOS CON MÉTODOLOGIAS AGILES</b> <br/>
        <p>Maria D. Sabido M.<br/>Antonio Ramirez A.<br/>
    <p><a  href="https://firebasestorage.googleapis.com/v0/b/tecnocultura-3ddee.appspot.com/o/pag%2047%2Fpdf3.pdf?alt=media&token=d15955de-8f98-48a4-916d-606ed85d0c9a" target= "_blank"><img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pdf.png?alt=media&token=eb9d1145-36b3-47cf-b2cd-9edab3c95e34" width="30" height="30" alt=""> </a></p>
    
    <p> <b>LOS ESTILOS DE APRENDIZAJE DE LA PROGRAMACIÓN NEUROLINGÛISTICA</b> <br/> <b>DE BANDLER Y GRINDER</b> <br/>
        <p>Javier N.Gutíerrez V<br/>Isrrael I.Gutíerrez V<br/>Marco A.Gutíerrez V<br/>
    <br/>
    <p><a  href="https://firebasestorage.googleapis.com/v0/b/tecnocultura-3ddee.appspot.com/o/pag%2047%2Fpdf4.pdf?alt=media&token=e890c124-42df-4d90-9d89-56df939c4055" target= "_blank"><img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pdf.png?alt=media&token=eb9d1145-36b3-47cf-b2cd-9edab3c95e34" width="30" height="30" alt=""> </a></p>
    
    </div>
    
         </div>
    
         </div>
    </div>
    
    </div> 
    