.navbar {
    padding-top: 40px;
}
.navbar.alt {

    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #202020;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}
.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: #EE5A3F;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 12px;
    letter-spacing: 1px;
}

.navbar-dark .navbar-nav .active > .nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show > .nav-link {
    color: #EE5A3F;
}



header {
            
    background-color: #202020;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	color: #fff;
	padding-top: 150px;
	padding-bottom: 150px;
}


.hero-text {
	padding-top: 32px;
}

.navbar-nav > li{
    float: left;
}

.navbar-nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
 .navbar-nav li:hover> ul{
display: block;
 }

.navbar-nav  li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
 .navbar-nav  li:hover> ul{
display: block;
 }


ul.navbar-nav  li:hover ul {
max-height: 300px;
transition: .3s all ease-in;
}

.navbar-nav li a{
    background: #2d2d2d;
    color:#fff;
    text-decoration: none;
    padding: 10px 25px;
    display: block;
}
ul , ol {
	list-style: none;
}