<div class ="cuadro">
    <p>Revista 29</p>
<button *ngIf="isCollapsed" (click)="toogleCollapse()">Abrir Numero 29</button>
<button *ngIf="!isCollapsed"(click)="toogleCollapse()">Cerrar Numero 29</button>
<br/>

<div  *ngIf="!isCollapsed">
             <br/>
<div class="datos">
             
             <br/>
     <div>
                  
<a  href="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/29%2F29.pdf?alt=media&token=80eb2433-ff5a-4e07-a78a-983d68a74d8a" target= "_blank">
<img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/29%2F29.jpg?alt=media&token=dd48e839-325e-4fc4-8d20-26a4ebf4b716" id="img1"/></a>
<div class="parrafos">

<p><b>EL CONOCIEMITNO CIENTIFICO</b> <br/>
<p>Soperanez Ramierez M<br/>Martinez Garcia<br/>J Caffarel Mendez<br/>
<p><a  href="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/29%2F2.pdf?alt=media&token=0178f524-30f7-4838-b335-5eeac5d41f6e" target= "_blank">
<img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pdf.png?alt=media&token=eb9d1145-36b3-47cf-b2cd-9edab3c95e34" width="30" height="30" alt=""> </a></p>
        
<p> <b>CAMBIOS QUÍMICOS DURANTE LA DESCOMPOSICIÓN</b><br/> 
     <p>Rafael P Cruz<br/>
<p><a  href="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/29%2F1.pdf?alt=media&token=e5276711-cea2-453a-a7dd-ab7a7a447e11" target= "_blank">
<img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pdf.png?alt=media&token=eb9d1145-36b3-47cf-b2cd-9edab3c95e34" width="30" height="30" alt=""> </a></p>
     
<p> <b>RECUPERACIÓN DE UN MINERAL</b><br/>
<p>Martin R Cruz D<br/>Francisco Vidal D<br/>Jose A Arcos C<br/>Francisco J Almazan R<br/>Ignacio Gozalez<br/>
<p><a  href="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/29%2F3.pdf?alt=media&token=6206a1a8-517c-4108-9d81-83ca3b2bfc1a" target= "_blank">
<img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pdf.png?alt=media&token=eb9d1145-36b3-47cf-b2cd-9edab3c95e34" width="30" height="30" alt=""> </a></p>

<p><b>MODELADO DEL ESPECTRO INALÁMBRICO</b> <br/> <b>DE UNA RED</b>
<p>Jesica S Hernandez G<br/>Gabriela Zafra J<br/>Mayola Garcia R<br/>Maria A Martinez T<br/>Sergio E Vigueras C<br/>
<p><a  href="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/29%2F4.pdf?alt=media&token=266aa817-e93f-43e1-b141-24d8e26c75b8" target= "_blank">
<img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pdf.png?alt=media&token=eb9d1145-36b3-47cf-b2cd-9edab3c95e34" width="30" height="30" alt=""> </a></p>

</div>




     </div>

     </div>
</div>

</div> 

