<div class ="cuadro">
    <p>Revista 41</p>
<button *ngIf="isCollapsed" (click)="toogleCollapse()">Abrir Numero 41</button>
<button *ngIf="!isCollapsed"(click)="toogleCollapse()">Cerrar Numero 41</button>
<br/>


<div  *ngIf="!isCollapsed">
             <br/>
<div class="datos">
              
             <br/>
     <div>
                  
<a  href="https://firebasestorage.googleapis.com/v0/b/tecnocultura-3ddee.appspot.com/o/41%2F41.pdf?alt=media&token=62915d6c-1115-4e43-a3bb-fa7df8ca8aef" target= "_blank">
<img src="https://firebasestorage.googleapis.com/v0/b/tecnocultura-3ddee.appspot.com/o/41%2F41.jpg?alt=media&token=53b72022-fe2a-4c43-b2ae-65d2d9a89069" id="img1"/></a>
<div class="parrafos">
     <br/>
     <br/>
     <br/>
<p><b>EL USO DE LO RESUIDOS</b> <br/> <b> AGROINDUSTRIALES Y LA FERMENTACIÓN SOLIDA</b>
<p>María A Martínez Trujillo<br/>
<p><a  href="https://firebasestorage.googleapis.com/v0/b/tecnocultura-3ddee.appspot.com/o/41%2F1.pdf?alt=media&token=1a2afd89-5326-4573-84d6-2767118537ed" target= "_blank">
<img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pdf.png?alt=media&token=eb9d1145-36b3-47cf-b2cd-9edab3c95e34" width="30" height="30" alt=""> </a></p>
        
<p> <b>REVISIÓN DE LOS PROCESOS DE REMOCIÓN Y</b><br/> <b>RECUPERACIÓN DE METALES PESADOS</b> 
<p>María I Neri<br/>Ricardo Aguilar L<br/>Leonardo R González G<br/>

<br/>
<p><a  href="https://firebasestorage.googleapis.com/v0/b/tecnocultura-3ddee.appspot.com/o/41%2F2.pdf?alt=media&token=890792cf-2ced-45ce-9856-6ef85f1c3ad3" target= "_blank">
<img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pdf.png?alt=media&token=eb9d1145-36b3-47cf-b2cd-9edab3c95e34" width="30" height="30" alt=""> </a></p>
     
<p> <b>ESTABLECIMIENTO DE LAS CONDICIONNES DE</b> <br/><b>OPERACIÓN PARA LA PRODUCCIÓN DE LACASAS</b> <br/>
<p>Leticia Soto V<br/>Ulises Duran H<br/>Isabel Membrillo  V<br/>Mayola García Rivero<br/>María A Martínez Trujillo <br/>

<p><a  href="https://firebasestorage.googleapis.com/v0/b/tecnocultura-3ddee.appspot.com/o/41%2F3.pdf?alt=media&token=c83b9440-6bc4-4045-836c-87bee9348f1a" target= "_blank">
<img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pdf.png?alt=media&token=eb9d1145-36b3-47cf-b2cd-9edab3c95e34" width="30" height="30" alt=""> </a></p>


</div>




     </div>

     </div>
</div>

</div> 

