<div class ="cuadro">
       <p>Revista 48</p>
<button *ngIf="isCollapsed" (click)="toogleCollapse()">Abrir Numero 48</button>
<button *ngIf="!isCollapsed"(click)="toogleCollapse()">Cerrar Numero 48</button>
<br/>

<div  *ngIf="!isCollapsed">
                <br/>
<div class="datos">
                
                <br/>
        <div>
                     
<a  href="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/48.pdf?alt=media&token=df1f14d4-1270-47e1-95c4-30d6436a44f1" target= "_blank">
<img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/48.jpg?alt=media&token=0009718e-bd9b-4e52-be60-35ba3672c200" id="img1"/></a>
<div class="parrafos">

<p><b>INTERPRETE DE SEÑALES CEREBRALES CON APRENDIZAJE</b> <br/> <b> PROFUNDO PARA EL CONTROL DE SERVOMOTORES</b>
<p>Mtro. Leonardo M. Moreno V<br/>Dr. Francisco Jacob Ávila Camacho<br/>Dr. Adolfo Meléndez Ramirez<br/>
<p><a  href="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/Numero%2048%2FArticulos%2F48%2F1%20(1).pdf?alt=media&token=d2fc9135-e93c-4c6a-a0eb-63ea2e13a408" target= "_blank"><img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pdf.png?alt=media&token=eb9d1145-36b3-47cf-b2cd-9edab3c95e34" width="30" height="30" alt=""> </a></p>
           
<p> <b>COMO EL HOMBRE DETUVO SU EVOLUCION </b> 
        <p>Mtro. Antonio Rodríguez Amador <br/>Mtra. Maria Dolores Sabido Montejo<br/>
<p><a  href="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/Numero%2048%2FArticulos%2F48%2F2%20(1).pdf?alt=media&token=58b15ade-6586-4ddc-aec5-0ad76eb3d4cf" target= "_blank"><img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pdf.png?alt=media&token=eb9d1145-36b3-47cf-b2cd-9edab3c95e34" width="30" height="30" alt=""> </a></p>
        
<p> <b>COMPARACION DE LA CURVA DE ENFRIAMIENTOS DEL </b> <br/> <b>ESTAÑO (Sn) MEDIANTE EL METODO  </b> <br/><b>EXPERIMENTAL Y DE SIMULACION NUMERICA</b>
        <p>Daniel Flores Sanchez <br/>Esiquio Martin Gutierrez Armenta<br/> Javier Norberto Guitierrez Villegas <br/>
<p><a  href="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/Numero%2048%2FArticulos%2F48%2F3%20(1).pdf?alt=media&token=e544e25b-dc36-4a4b-af62-7f1a020ca8d9" target= "_blank"><img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pdf.png?alt=media&token=eb9d1145-36b3-47cf-b2cd-9edab3c95e34" width="30" height="30" alt=""> </a></p>

<p><b>SOLUCION DE LA ECUACION DE LAPLACE</b> <br/> <b>EN CONDICIONES DE FRONTERA DE TIPO</b><br/> <b>DIRICHLET MEDIANTE UN SOFTWARE DESARROLADO EN C++</b>
<p>Esiquio Martin Gutierrez Armenta<br/>Israel Isaac Gutíerrez Villegas<br/>Marco Antonio Gutíerrez Villegas <br/>Javier Norberto Gutíerrez Villegas
 <br/>
<p><a  href="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/Numero%2048%2FArticulos%2F48%2F4.pdf?alt=media&token=5eb4a32f-4335-4d1a-b90c-be84b57fc864" target= "_blank"><img src="https://firebasestorage.googleapis.com/v0/b/revista-c155b.appspot.com/o/pdf.png?alt=media&token=eb9d1145-36b3-47cf-b2cd-9edab3c95e34" width="30" height="30" alt=""> </a></p>

</div>




        </div>

        </div>
</div>

</div> 
